@charset "utf-8";
/* CSS Document */
/* Fonts */
@font-face {
  font-family: 'HPBold';
  src: url("../fonts/HPSimplifiedW04-Bold.eot");
  src: url("../fonts/HPSimplifiedW04-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HPSimplifiedW04-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HPRegular';
  src: url("../fonts/HPSimplifiedW04-Regular.eot");
  src: url("../fonts/HPSimplifiedW04-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/HPSimplifiedW04-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HPLight';
  src: url("../fonts/HPSimplifiedW04-Light.eot");
  src: url("../fonts/HPSimplifiedW04-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HPSimplifiedW04-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*----------CSS 通用属性----------*/
body{
	padding:0;
	background:#ffffff;
	font-size:12px;
	font-family:"HPRegular",Arial, Helvetica, sans-serif;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#main{
	margin:auto;
	width:1500px;
	height:100%;
	}



ul, p,h1,h2,h3,h4,h5,li{margin:0px; padding:0px;list-style:none;}
img{border:none; margin:0; padding:0;}
a{color:#1b3b61; text-decoration:none;}
a:link{color:#1b3b61; text-decoration:none;}
a:visited {color:#1b3b61; text-decoration:none;}
a:hover{color:#000000; text-decoration:underline;}
a:active{color:#1b3b61; text-decoration:none;}
.title {
	line-height: 20px;
	margin-left: 12px;
	margin-top: 10px;
	font-family: "微软雅黑";
	font-size: 16px; 
	color: #1B3B61;
}
.sub_title {
	line-height: 20px;
	margin-left: 12px;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: bold;
	color: #1B3B61;
}

.mousechange:hover{
		background:#F7F7F7;
}
.mousechange2:hover{
		background:#fff;
}
/*----------end CSS 通用属性----------*/

/*----------布局样式----------*/
.padding10{padding:10px;}
.padding5030{padding:5px 0px 3px 0px;}
.font_wei{font-weight:bold;}
.clear{clear:both;}
.float_lef{float:left; display:inline;}
.float_rig{float:right;}
.marfin_lef5{margin-left:5px;}
.marfin_lef10{margin-left:10px;}
.clearfix{zoom:1;}
.clearfix:after{content: '\20'; display:block; clear:both;}
.color007ba7{color:#007ba7;}
.color4b4948{color:#4b4948;}
.color1b3b61{color:#1b3b61;}
.colorwhite{color:#ffffff;}
.fontsize30{font-size:30px; font-weight:bold;}
.fontsize16{font-size:16px;}
.input_text{
	/*background:#ffffff url(../images/input_bg.jpg) repeat-x;*/
	border:1px solid #b5b8c8/*#6d9eb8*/;
	height:20px;
	color:#4b4948;
	width:100%;
}
.input_text100{background:url(../images/input_bg.jpg) repeat-x; border:1px solid #6d9eb8; width:100px; height:20px; color:#4b4948;}
.input_text150{background:url(../images/input_bg.jpg) repeat-x; border:1px solid #6d9eb8; width:150px; height:20px; color:#4b4948;}
.input_text200{background:url(../images/input_bg.jpg) repeat-x; border:1px solid #6d9eb8; width:200px; height:20px;}
.close{width:17px; height:16px; background:url(../images/hide.png) no-repeat; display:block; cursor:pointer;} 
.open{width:17px; height:16px; background:url(../images/show.png) no-repeat; display:block; cursor:pointer;} 
.ico {
	margin-right: 8px;
	margin-bottom: -3px;
}
/*----------end 布局样式----------*/

/*--------------------start login----------------*/
/*.login_bg1 {
	background-repeat: repeat-x;
	background-position: left top;
}
.login_bg2 {
	background-image: url(../images/login_bg2.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.login_con {
	height: 100%;
}
.login_bg3 {
	background-image: url(../images/login_1.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width:35%;
	height: 400px;
}
.cp {
	/*padding-right: 200px;
	position: center;
	margin-top: 4%;
}*/
.cloudtitle_cn {
	font-family: "微软雅黑";
	font-size: 38px;
	color: #FFF;
}
.cloudtitle_en {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #FFF;
}
.login_logo {
	background-image: url(../images/login_3.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.ctitle {
	margin-right: 20px;
	margin-top: 180px;
}*/
/*--------------------end login----------------*/

/*--------------------start index----------------*/
.port_header{
	height:80px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	background-color: #ffffff;
}
.port_frame{
	/*position:absolute;*/
	/*top:63px;*/
	width:100%;
	height:100%;
	/*margin-top: 5px;*/
	/*margin-right: 5px;*/
	/*margin-bottom: 5px;*/
	/*z-index: -1;	*/
}
.port_bar{
	width:100%;
	height:26px;
	line-height:26px;
	color:#999;
	background-color: #f5fafe;
	border-bottom-width: 1px;
	/*border-bottom-style: solid;*/
	border-bottom-color: #a1cce6;
}
.banner {
	/*background-image: url(../images/bannerbg.jpg);
	background-repeat: repeat-x;
	background-position: left top;*/
	height: 110px;
}
.banner-left {
	/*background-image: url(../images/logo.jpg);*/
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	width: 65%;
	height: 55px;
}
.banner-right {
	/*background-image: url(../images/bannerright.jpg);*/
	background-repeat: no-repeat;
	background-position: right top;
	height: 55px;	
}
.nav {
	background-image: url(../images/navbg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 25px;
}
.nav-left {
	background-image: url(../images/nav_left.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	width: 6px;
	height: 28px;
}
.nav-right {
	/*background-image: url(../images/nav_rightt.jpg);*/
	background-repeat: no-repeat;
	background-position: right top;
	height: 25px;
}
.nav1 li {
	float: left;
	text-align: center;
	height: 25px;
	line-height: 35px;
}
/* 固定长度的tab背景 */
.navhover {
	background-repeat: no-repeat;
	background-position: center bottom;
	width:130px;
}
/* 自动变长的tab背景
.navhover {
	background-image: url(../images/navli_bgt.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	width:auto!important;
	min-width:100px;
	width:100px;
}
.navhover_left {
	background-image: url(../images/navli_left.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 22px;
	width: 3px;
}
.navhover_right {
	background-image: url(../images/navli_right.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 22px;
	width: 3px;
}
*/
.navhover a {
	color: #FFF;
	text-decoration: none;
}
.navnormal {
	width:auto!important;
	min-width:100px;
	width:100px;
}
.sysbtn ul li {
	float: right;
	line-height: 14px;
	color: #cde1e6;
	background-image: url(../images/b_libg.gif);
	background-repeat: repeat-x;
	border: 1px solid #3b3a3a;
	padding-right: 2px;
	padding-left: 2px;
	margin-right: 2px;
	margin-left: 2px;
	vertical-align: middle;
	padding-top: 2px;
}
.sysbtn ul li a img {
	vertical-align: middle;
	margin-right: 2px;
}
.sysbtn ul li a {
	color: #cde1e6;
	text-decoration: none;
}
.spanimg {
	margin-right: 2px;
	margin-left: 2px;
	margin-top: 2px;
}
.logo_style {
	/*width: 240px;*/
	margin-top: 8px;
	margin-left: 0px;
}
.logo_style_title {
	/*padding-right:50px;
	padding-top:10px;*/
	font-family: "HPBold";
	font-size: 33px;
	color: #logo_style_title;
}
.logo_style_subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
}
/*--------------------end index----------------*/

/*-------text-------*/
.showlist_mainnopadding table{border:1px solid #dddddd; border-top:none; }
.showlist_mainnopadding table th{background:url(../images/tab_th_bg.jpg) repeat-x; border:#e6e7e8 1px solid; border-left:none; height:21px; line-height:21px; color:#2c6795; text-align:center; font-weight:bold; padding:0 5px;}
.showlist_mainnopadding table td{padding:3px 0px 3px 0; color:#2C6795;}
/*-------end text-------*/


/*-------table no border-------*/
.tno_border_list {
	font-size: 12px;
	color: #333333;
	border: 1px solid #bcbcbc;
	border-collapse:collapse;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #FFF;
}
.tno_border_list td {
	height: 22px;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
.tno_border_list th {
	font-size: 12px;
	color: #333333;
	background-image: url(../images/listtitlebg.gif);
	background-repeat: repeat-x;
	height: 20px;
	padding-top: 3px;
	padding-right: 3px;
	padding-left: 5px;
	border: 1px solid #8fb9d0;
	font-weight: normal;
}
.tno_border_list caption {
	font-size: 13px;
	color: #333333;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}
/*------- noborder sorter start -------*/
.tno_border_list thead tr th, .tno_border_list tfoot tr th {
	font-size: 12px;
	color: #333333;
	/*background-color: #D3E7FC;*/
	height: 20px;
	padding-top: 3px;
	padding-right: 3px;
	padding-left: 5px;
	border: 1px solid #8fb9d0;
	font-weight: normal;
}
.tno_border_list thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.tno_border_list thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
.tno_border_list thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}

.tno_border_list tbody tr td {
  cursor: default;
  padding: .3em 1.5em;
}
/*-------noborder sorter end-------*/
	
.table_link {
	width: 100%;
	margin-right: 12px;
	margin-top: 10px;
}
.table_link span {
	font-size: 13px;
	color: #1B3B61;
	font-weight: bold;
}
.table_link ul li {
	text-align: center;
	float: right;
	height: 19px;
	width: 74px;
	line-height: 21px;
	margin-right: 1px;
	margin-left: 1px;
}

.table_link ul li a{
	background-image: url(../images/table_linkbg.gif);
	background-repeat: no-repeat;
	background-position: center top;
	display: block; 
}
.table_link ul li a:hover {
	background-image: url(../images/table_linkbg_hover.gif);
	background-repeat: no-repeat;
}
.tablecontent {
	margin-top: 5px;
	margin-bottom: 5px;
	border-collapse:collapse;
}
.tablecontent tr td {
	padding-top: 4px;
	padding-bottom: 4px;
	border: 1px solid #bcbcbc;
	padding-left: 5px;
	padding-right: 5px;
}
.tablecontent_title{background-color: #F7F7F7/*#f5fafe*/;}
/*------- end table-------*/

/* CSS for the box starts here */
	.box {
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	margin: 10px;
	background-color: #fff;
	/*background-image: url(../images/border1.gif);
	background-repeat: repeat-y;
	background-position:100% 0;*/
	}
	.bi {
	background-color: #d3e7fc;
	background-image: url(../images/borders.gif);
	background-repeat: repeat-y;
	background-position: -13px 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 12px;
	}
	.bt {
	height:17px;
	margin:0 -12px;
	background-image: url(../images/box.gif);
	background-repeat: no-repeat;
	background-position: 100% 0;
	}
	.bt div {
		width:18px;
		height:17px;
		background:url(../images/box.gif) 0 0 no-repeat;
	}
	.bb {
		height:17px;
		margin:0 -12px;
		background:url(../images/box.gif) 100% 100% no-repeat;
	}
	.bb div {
		width:18px;
		height:17px;
		background:url(../images/box.gif) 0 100% no-repeat;
	}
/*user table*/
div.tit{width:10px;}
div.rc{
 margin:auto;
 padding-top:0;
 padding-bottom:0;
 width:100%;
 background:#f5f9fd;
}
b.rctop,b.rcbottom{
 display:block;
 background:#FFF;
}
b.rctop b,b.rcbottom b{
 display:block;
 height:1px;
 overflow:hidden;
 background:#f5f9fd;
}
b.rc1{
 margin:0 5px;
}
b.rc2{
 margin:0 3px;
}
b.rc3{
 margin:0 2px;
}
b.rctop b.rc4,b.rcbottom b.rc4{
 margin:0 1px;
 height:3px;
}
/*.b-m{
border-left: 2px solid #cae7fd; border-right: 2px solid #cae7fd;
}*/
/*roleMng*/	
div.ro{
 margin:0;
 flow:left;
 padding:0;
 width:100%;
 height:600px;
 background:#f5f9fd;
 border:3px solid #cae7fd;
 overflow:auto;
}
/*分页*/
.page img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-right: 2px;
	margin-left: 2px;
	vertical-align:middle
}
.pageinput {
	border: 1px solid #615c3f;
	height: 15px;
	width: 30px;
	vertical-align:middle
}
.pagedisplay {
	border: 1px solid #615c3f;
	height: 15px;
	width: 30px;
	vertical-align:middle;
	text-align:center;
}
.pageNo {
	border: 1px solid #615c3f;
	height: 15px;
	width: 30px;
	vertical-align:middle
}
.pagesize {
	border:1px solid #615c3f;
	height:20px;
	vertical-align:middle
}
.page{
	font-family: 15;
	font-size: 12px;
	color: #370000;
	line-height: 22px;
	height: 22px;
	vertical-align:middle;
}	

/*模板*/
.template{width:789px; margin-top:10px;}
.tem_hd{width:789px; height:30px; background:url(../images/ind_weath_bg004.jpg) no-repeat; line-height:30px; color:#ffffff; font-weight:bold; cursor:pointer;}
.tem_hd.active{width:789px; height:30px; background:url(../images/ind_weath_bg005.jpg) no-repeat; line-height:30px; color:#ffffff; font-weight:bold;}
.tph_in{padding-left:20px;}
.tem_con{border:1px solid #dddddd; min-height:100px; border-top:none;}
.tpc_in{padding:0px;}

.select{
	/*background:#ffffff url(../images/input_bg.jpg) repeat-x;*/
	border:1px solid #b5b8c8/*#6d9eb8*/;
	height:21px;
	color:#4b4948;
}
.text_area{
	font-size:12px; 
	border:#b5b8c8 1px solid; 
	/*background:#ffffff url(../images/input_text_bg.jpg) repeat-x left top;*/
	width:100%; 
	height:150px;
	color:#4b4948;/*#808080;*/
}
.button{
	cursor:pointer;
	float: left;
	margin-right: 10px;
}
.button2{width:130px; text-align:center; height:35px; line-height:25px; background:url(../images/but_bg.jpg) no-repeat; border:none;  font-weight:bold; color:#2c6795;}
.button .l{float:left; background:url(../images/button_l.png) no-repeat; width:3px; height:23px;}
.button .c{float:left; display:inline; padding:0 5px 0 5px; background:url(../images/button_c.png) repeat-x; height:23px; text-align:center; line-height:23px; border:none; font-weight:bold; color:#2c6795; font-size:12px; margin:0; cursor:pointer;}
.button .r{float:left; background:url(../images/button_r.png) no-repeat; width:3px; height:23px;}
.forms_table{border-collapse:collapse; border:3px #92c0da double; background:#f8fcff; line-height:270%; margin-bottom:10px; }
.forms_table td {border-bottom:1px solid #d5f0fe; border-right:1px solid #d5f0fe; padding-left:3px;}
.sysbtn {
	text-align: right;
	padding-right: 3px;
}
.logtime {
	line-height: 30px;
	color: #a1a4a4;
	text-align: right;
	height: 20px;
	padding-right: 20px;
}

.forms_table th{border-bottom:1px solid #bcdbec; background:url(../images/table_hdBg.jpg) repeat-x left bottom; font-size:12px; color:#4b4948;}
.forms_table_bot{border:none; line-height:300%;}
.onhover a {
	font-weight: bold;
}

.forms_table_bot_description{ border:3px #92c0da double;}
.forms_table_bot_description td{padding:50px 50px 30px 20px; border-bottom:1px solid #d5f0fe; border-right:1px solid #d5f0fe;}
.forms_table_text td{text-align:center;}

.margin10 {
	height:95%;
	padding:0px 0px 0px 10px;
	border: 1px solid #95d6e4;
}
.copyright {
	background-image: url(../images/copyright.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 21px;
	font-family: Verdana, Geneva, sans-serif;
	color: #FFF;
	text-align: center;
}

.inputtext{width:100px; padding-left:5px; padding-right:5px; border:0; background:transparent url(../images/text.jpg) no-repeat left bottom; margin:0px 3px 0 3px; height:20px; line-height:20px; font-size:12px;}
.alertMessage{color:#ff0000;}

.search {
	background-color: #F1F8FE;
	border: 1px solid #D3E7FC;
	margin: 10px;
}
 
/*------- register end-------*/
.error h1 {
	float: left;
	font-family: "微软雅黑";
	font-size: 16px;
}
.error {
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	width: 400px;
}
.error img {
	float: left;
}

/*进度条*/
.barbg{
	width:200px;
	height:20px;
	background-color:#efefef;
}
#bg2{ background:url(../images/vote/v2_m.gif) repeat-x center center; height:20px; text-align:right;}
.l {
	float: left;
}

/*-------register-------*/
.port_reg {
	background-color: #FFF;
	height:auto!important;
	min-height:500px;
	height:500px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding-top:50px;
	padding-left:200px;
	padding-right:200px;
}
.port_reg table tr td{padding-left:20px; padding-top:5px; padding-bottom:5px;}

/*-------index1-------*/
.index_1 {
	background-color: #FFF;
	height:auto!important;
	min-height:500px;
	height:500px;
}
.index_1_con {
	float: left;
	padding: 10px;
	width: 94%;
	margin-bottom: 10px;
}
.index_1_txetblue {
	color: #069;
}
.index_1_txetred {
	color: red; /*#990000;*/
}
.index_1_table tr td img {
	margin-right: 5px;
	margin-bottom: -3px;
}
.index_1_table tr td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CDDFEB;
	line-height: 20px;
}
.index_1_con h1 {
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: bold;
	color: #1B3B61;
	padding: 0px;
	margin-bottom: 10px;
}
.index_1_con a {
	color: #069;
	border-bottom: 1px solid #069;
}
.index_1_left {
	float: left;
	width: 48%;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.index_1_right {
	float: left;
	width: 48%;
	padding: 10px;
}

/*-------step-------*/
.st {
	margin-top: 10px;
	margin-left: 10px;
}
.step{
	float: left;
	margin-right: -2px;
}
.step .s_l{float:left; background:url(../images/s_l.gif) no-repeat; width:18px; height:43px;}
.step .s_c{float:left; display:inline; padding:0 5px 0 5px; background:url(../images/s_c.gif) repeat-x; height:43px; text-align:center; line-height:43px; border:none; font-weight:bold; color:#2c6795; font-size:12px; margin:0; cursor:pointer;}
.step .s_r{float:left; background:url(../images/s_r.gif) no-repeat; width:18px; height:43px;}
.step .sh_l{float:left; background:url(../images/sh_l.gif) no-repeat; width:18px; height:43px;}
.step .sh_c{float:left; display:inline; padding:0 5px 0 5px; background:url(../images/sh_c.gif) repeat-x; height:43px; text-align:center; line-height:43px; border:none; font-weight:bold; color:#2c6795; font-size:12px; margin:0; cursor:pointer;}
.step .sh_r{float:left; background:url(../images/sh_r.gif) no-repeat; width:18px; height:43px;}
/*-----------fixed table----------*/
.fixedtable {
table-layout:fixed;
word-break:break-all;
word-wrap:break-word;
}
.fixeddiv {
word-break:break-all;
word-wrap:break-word;
}

.input_button {
	BORDER-RIGHT: #a1cce6 1px solid; /*#2C59AA*/
	PADDING-RIGHT: 5px; 
	BORDER-TOP: #a1cce6 1px solid; 
	PADDING-LEFT: 5px; 
	FONT-SIZE: 12px; 
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); 
	BORDER-LEFT: #a1cce6 1px solid; 
	CURSOR: hand; 
	COLOR: black; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #a1cce6 1px solid;
	margin-left: 5px;
	margin-right: 5px;
}
.messageOk  {
	color: green;
}
.messageNG  {
	color: red;
}
.footer{
	width:1500px;
	height:30px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #a1cce6;
	
}
#middle_frame{
	width:1500px;
	/*height:645px;*/
}
